* {
    font-family: Poppins, "sans-serif";
}

p {
    color: #00044F;
}

.statement-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--chakra-radii-md);
    background: #f8c9ba;
}

.statement-button-container {
    display: flex;
    justify-content: flex-end;
}

.statement-pin {
    font-size: 28px;
    font-weight: 300;
}

.statement-reset-button {
    border: #00044F 2px solid;
    color: #00044F;
    margin-right: 15px;
}

.statement-verify-reset-button {
    border: #00044F 2px solid;
    color: #00044F;
}

.statement-copy-button {
    background: #00044F;
    color: white;
}